# http://editorconfig.org
# From Bootstrap's Config - https://github.com/twbs/bootstrap/blob/master/.editorconfig

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab
indent_size = 8

[*.{py,java,js}]
indent_size = 4
curly_bracket_next_line = true
